

.interval {
  font-size: 14px;
}

.interval--prominent {
  font-size: 18px;
  padding-bottom: 7px;
}

.interval--very-prominent {
  font-size: 22px;
  padding-bottom: 7px;
}

.interval__breakdown {
  /* font-size: 14px; */
}
